.calc-container {
    border: solid #CDC1FF 12px;
    display: flex;
    flex-direction: column;
    width: min-content;
    justify-self: center;
    border-radius: 16px;
}

.calc-btn-container,
.digit-btn-display > div {
    display: flex
}

.calc-btn-container {
    justify-content: center;
}

button {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    margin: 8px;
    border: transparent;

}

button:hover {
    background: color-mix(in srgb-linear, red 13%, violet 75%) !important;
    color: blueviolet;
    cursor: pointer;
}

.digit-btn-display > div > button {    
height: 124px;
width: 130px;
font-size: 80px;
border-radius: 100%;
/* margin: 8px; */
}

.opera-btn-display {
    display: flex;
    flex-direction: column;
    border-left: solid #CDC1FF 6px;
    background-color: #FFFED3;
}

.opera-btn-display > button {
    width: 99px;
    height: 100%;
    font-size: 50px;
    border-radius: 12px;
    background-color: #BBE9FF;
    color: #FFFED3;
}


.cal-screen {
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: flex-end;
    font-size: 50px;
    height: auto;
    width: 100%;
    border-bottom: solid 6px #CDC1FF;
    padding: 10px 4px 0px 4px;
    min-height: 120px;
    background: #A594F9;
    color: #FFFED3;
}

.cal-output {
    font-size: 44px;
}

.cal-upper-content {
    margin: 8px;
    cursor: default;
}

.digit-btn-display > div {
    gap: 10px;
}

.outer-border {
    width: fit-content;
    border: #A594F9 solid 18px;
    border-radius: 34px;
    justify-self: center;
}

.first-div {
    background-color: #673AB7;
}

.sec-div {
    background-color: #CB9DF0;
}

.third-div {
    background-color: #ff508c;
}

.bottom-div {
    background-color: #CB9DF0;
}

.top-row {
    background-color: #CB9DF0;
    color: #673AB7;
}

.second-row {
    background: #673AB7;
    color: #CB9DF0;
}

.third-row {
    background: #CB9DF0;
    color: #ff508c;
}

.bottom-row {
    background: #ff508c;
    color: #CB9DF0;
}

.del-svg {
    width: 70px;
}

.del-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-cal-num,
.sec-cal-num,
.prev-num {
    cursor: pointer;
}

.prev-num {
    font-size: 26px;
}