#calc-container {
    border: solid black 12px;
    display: flex;
    flex-direction: column;
    width: min-content;
    justify-self: center;
    border-radius: 16px;
}

#calc-btn-container,
.digit-btn-display > .seperator {
    display: flex
}

#calc-btn-container {
    justify-content: center;
}


.digit-btn-display > .seperator > .calc-btn {    
height: 124px;
width: 130px;
font-size: 80px;
}

.opera-btn-display {
    display: flex;
    flex-direction: column;
}

.opera-btn-display > button {
    width: 130px;
    height: 100%;
    font-size: 50px;
}

#calc-screen {
    display: flex;
    justify-self: center;
    font-size: 65px;
    height: auto;
    width: 512px;
    border-bottom: solid 6px black;
    flex-direction: row-reverse;
    padding: 10px 4px 0px 4px;
}